header {
    background-color: white;
    text-align: center;
    height: 80px;
    justify-content: center;
    display: flex;
}

body {
    background-color: lightgray;
    font-family:Arial, Helvetica, sans-serif;
}

.photo-feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    
}

.photo {
    background-color: white;
    width: 800px;   
    height: 680px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.photo-header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.photo-number {
    color: lightgrey;
}

.photo-image {
    height: 400px;
}

.photo-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.photo-text {
    padding: 10px 8px 15px 8px;
    border-top: 1px solid lightgrey;
    margin-top: 5px;
}

.texto-resaltado {
    font-weight: bold;
}